{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest-dom/recommended",
    "plugin:cypress/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "globals": {
    "document": true,
    "localStorage": true,
    "window": true,
    "navigator": true,
    "fetch": true
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "prettier",
    "react-hooks",
    "testing-library",
    "jest-dom"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx", ".ts"] }
    ],
    "no-console": "off",
    "prefer-destructuring": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "react/require-default-props": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "react/no-did-update-set-state": "off",
    "global-require": "warn",
    "no-underscore-dangle": [2, { "allow": [ "__STORE__" ] }],
    "jsx-a11y/label-has-for": [ 1, {
      "components": [ "Label" ],
      "required": {
        "some": [ "nesting", "id" ]
      },
      "allowChildren": false
    }],
    "jsx-a11y/media-has-caption": 1,
    "jsx-a11y/anchor-is-valid": 0,
    "max-len": 0,
    "camelcase": "off",
    "no-unused-expressions": "warn",
    "no-nested-ternary": "off",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js","**/*.spec.js", "**/*.spec.ts", "**/*.spec.tsx", "**/*.test.ts", "**/*.test.tsx"]}],
    "import/extensions": [
      "error",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "overrides": [
    {
      "files": [ "**/*.test.js","**/*.spec.js", "**/*.spec.ts", "**/*.spec.tsx", "**/*.test.ts", "**/*.test.tsx"],
      "extends": [
        "plugin:testing-library/react"
      ]
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
